<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bilgisayar Teknik Servisi</title>

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
	<div class="row">
		<div class="col-2">
			<!-- menuyu replace etmek için -->
			<div th:replace="fragment/menu.html :: menu"></div>
		</div>
		<div class="col-10" sec:authorize="isAuthenticated()">
				<table class="table table-striped table-bordered" >
					<thead class="table-dark">
						<tr>
							<th scope="col" class="col-auto" th:text="#{product.name}"></th>
							<th scope="col" class="col-auto" th:text="#{product.note}"></th>
							<th scope="col" class="col-auto" th:text="#{product.price}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="basket : ${basket}">
							<td class="col-auto"><label th:text="${basket.sale.product.name}"></label></td>
							<td class="col-auto"><label th:text="${basket.sale.note}"></label></td>
							<td class="col-auto"><label th:text="${basket.sale.fiyat}"></label></td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-info btn-sm" 
								href="/sale/list"th:text="#{sale.page}"></a>
				<a class="btn btn-info btn-sm" 
								href="/sale/odeme" th:text="#{sale.pay}"></a>
			</div>

	</div>
	<br />
	<br />
</body>
</body>
</html>