<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bilgisayar Teknik Servisi</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body style="background-image: url('images/service.jpg'); background-repeat: no-repeat;  background-size: cover;">
	<div class="row" >
		<div class="col-2">
		
			<!-- menuyu replace etmek için -->
			
			<div th:replace="fragment/menu.html :: menu"></div>
		</div>
		<div class="col-10" >
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<h1 class="text-center" th:text="#{index.title}" style="color: white;"><a href="/index">Bilgisayar Teknik Servisi</a> </h1>
					</div>

				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
</body>
</html>